.nav{
    display: flex;
    justify-content:space-around;
    background-color: gray;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    align-items: center;
    
}
.nav-title{
    margin-left: 20px;
}

.nav-links{
    display: flex;
    padding: 0;
    
}

li{
    align-content: start;
    list-style-type: none;
    margin-right: 20px;
    

}



.btnlog {
    color: aliceblue;
    background-color: #2ABBC2;
    height: 30px;
    width: 100px;
    box-shadow: 5px 5px 5px black;
}

.btnlog:hover{
    background-color:aliceblue;
    color: black;
}

li > #search{
    
}
#search{
    color: aliceblue;
    height: 30px;
    width: 500px;
    box-shadow: 5px 5px 5px black;
}


